body {
    display: grid;
    align-items: center;
    justify-items: center;
    
}


div {

    width: 400px;
}


h2 p a {
    font-size: 15px;
}



.created-div {
width: 200px;
background-color: red;
height: 50px;
}